<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <meta type="description" content="<%= metaDescription %>">
    <meta type="keywords" content="<%= metaKeywords %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%- baseUrl -%>/assets/favicons/apple-touch-icon.png?v=xQo0O98NOA">
    <link rel="icon" type="image/png" href="<%- baseUrl -%>/assets/favicons/favicon-32x32.png?v=xQo0O98NOA" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- baseUrl -%>/assets/favicons/favicon-16x16.png?v=xQo0O98NOA" sizes="16x16">
    <link rel="manifest" href="<%- baseUrl -%>/assets/favicons/manifest.json?v=xQo0O98NOA">
    <link rel="mask-icon" href="<%- baseUrl -%>/assets/favicons/safari-pinned-tab.svg?v=xQo0O98NOA" color="#000000">
    <link rel="shortcut icon" href="<%- baseUrl -%>/assets/favicons/favicon.ico?v=xQo0O98NOA">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@taseenb">
    <meta name="twitter:image:alt" content="Description of the image.">
    <meta property="og:image" content="<%- baseUrl -%>/assets/img/og-image.jpg">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <meta property="og:description" content="<%= ogDescription %>">
    <meta property="og:title" content="<%= ogTitle %>">
    <meta property="og:url" content="<%- url -%>">

    <!--Style-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>