<%- include('header', {
  data: initialData,
  styles: styles
}) -%>

  <script>
    window.initialData = <%- JSON.stringify(initialData) -%>;
  </script>

  <!-- IMPORTANT: remove all spaces around markup to avoid isomorphic react complaints -->
  <div id="main"><%- initialMarkup -%></div>
  <!-- remove all spaces! -->

  <!--Assets + vendors-->
  <script src="<%- initialData.baseUrl -%>/assets/js/vendors/jquery/jquery-3.2.1.slim.min.js"></script>
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/scrollmagic/minified/ScrollMagic.min.js"></script> -->
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/scrollmagic/minified/plugins/animation.gsap.min.js"></script> -->
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script> -->
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/three/three.min.js"></script> -->
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/three/OBJLoader.js"></script> -->
  <!-- <script src="<%- initialData.url -%>assets/js/vendors/greensock-js/src/minified/TweenMax.min.js"></script> -->

  <script src="<%- initialData.baseUrl -%>/assets/js/<%- bundle -%>"></script>

  <%- include('footer') -%>