<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= data.title %>
    </title>

    <meta type="description" content="<%= data.metaDescription %>">
    <meta type="keywords" content="<%= data.metaKeywords %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="<%- data.url -%>assets/favicons/apple-touch-icon.png?v=xQo0O98NOA">
    <link rel="icon" type="image/png" href="<%- data.url -%>assets/favicons/favicon-32x32.png?v=xQo0O98NOA" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- data.url -%>assets/favicons/favicon-16x16.png?v=xQo0O98NOA" sizes="16x16">
    <link rel="manifest" href="<%- data.url -%>assets/favicons/manifest.json?v=xQo0O98NOA">
    <link rel="mask-icon" href="<%- data.url -%>assets/favicons/safari-pinned-tab.svg?v=xQo0O98NOA" color="#000000">
    <link rel="shortcut icon" href="<%- data.url -%>assets/favicons/favicon.ico?v=xQo0O98NOA">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- OG meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@taseenb">
    <meta name="twitter:image:alt" content="<%= data.description %>">
    <meta property="og:image" content="<%- data.url %><%= data.ogImage %>">
    <meta property="og:image:height" content="1080">
    <meta property="og:image:width" content="1920">
    <meta property="og:description" content="<%= data.description %>">
    <meta property="og:title" content="<%= data.workName %><%= data.ogTitle %>">
    <meta property="og:url" content="<%- data.url -%>">
    
    <meta name="google-site-verification" content="-FXT9lmXOX3mF2F22reOU4nwatKZNwALP1BGu0rY8xM" />

    <!--Style-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/css/<%- styles -%>">

    
    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
</head>

<body>
