<%- include('header', { data: initialData, styles: styles }) -%>

<!-- <script>
  window.initialData = <%- JSON.stringify(initialData) -%>;
</script> -->

<!-- IMPORTANT: remove all spaces around markup to avoid isomorphic react complaints -->
<div id="main"></div>
<!-- remove all spaces! -->

<script src="<%- initialData.url -%>static/js/<%- bundle -%>"></script>

<%- include('footer') -%>
